@use "./partials/variables" as *;

.yugiCard {
  background-color: $primaryColor;
  width: calc(100% / 5.7);
  margin-bottom: 8px;
  img{
    width: 100%;
  }
  h6{
    text-transform: uppercase;
    color: white;
    margin-top: 10px;
  }
}