@use "./partials/variables" as *;
@import 'bootstrap/scss/bootstrap.scss';
@import '@fontsource/ubuntu';

body{
  background-color: $primaryColor;
  font-family: $mainFont;

  main{
    background-color: white;
    padding: 50px;
  }
}